body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.nav__reddit-logo {
  width: 32px;
  height: 32px;
  margin: 8px;
}

.input-text {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  height: 16px;
  outline: none;
  margin-left: 40px;
  padding: 5px 16px 5px 20px;
}

.input-text:focus,
.input-text:hover {
  border-color: rgb(22, 22, 22);
}

.subreddit-banner {
  background-color: #000;
  color: #fff;
  height: 230px;
  text-decoration: none;
  width: 100%;
}

.subreddit-banner__subreddit {
  margin-left: 20px;
}

.contain-views {
  padding-left: 12px;
}

.contain-views__title {
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #747576;
}

.views {
  padding-top: 7px;
  margin-left: 10px;
}

.views__display {
  fill: rgb(1, 73, 128);
  height: 20px;
  width: 20px;
}

.posts {
  margin: 0 auto;
  width: 606px;
}

.post {
  border: 1px solid #bdbfc0;
  border-radius: 4px;
  color: #000;
  display: flex;
  /* max-height: 512px; */
  margin: 10px 0;
  text-decoration: none;
  width: 100%;
}

/* content of the posts */

.content {
  background-color: #edeff1;
  padding: 8px;
  width: 100%;
}

.content__author {
  color: #787c7e;
  font-size: 12px;
  margin: 0;
}

.content__title {
  margin-top: 8px;
}

.content__video {
  width: 100%;
}

.content__img {
  max-height: 512px;
  width: 100%;
}

.content__body {
  max-height: 250px;
  max-width: 590px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .posts {
    width: 94%;
  }
}